/.settings/
/.project
.*.swp
/servers/*/apps
/servers/*/lib
/servers/*/logs
/servers/*/workarea
/servers/.pid
/servers/*/resources
/servers/*/configDropins/defaults
/servers/*/configDropins/overrides
/build/
/servers/.classCache
/target
